@(title: String)(message: String)(booksNames: java.util.List[models.BookModel])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div align="center" style="width: 100%;">
    		<strong>
	    	@message
	    	</strong>
    	</div>
    	<br/>

    	<fieldset>
    		<legend align="center"><h1>Devolver Livro(s)</h1></legend>
			@helper.form(action = routes.Book.return_book(), 'id -> "book_return") {
				@for(book <- booksNames) {
					<input type='checkbox' id="@book.getId" name='@book.getId' value=@book.getId>@book.getName (dono: @book.getOwner.getEmail)<br>
				}

				<br/>
			   	<input type="submit" name="devolver" value="Devolver">
			   	<input type="submit" name="voltar" value="Voltar">
			}
		</fieldset>
    </body>
</html>
